@color_1: #c55;
@color_2: #999;
@color_3: #a94442;
@font_family_1: 'Glyphicons Halflings';
@background_color_1: #f5f5f5;
@background_color_2: transparent;

/* add sorting icons to gridview sort links */
/* align the logout "link" (button in form) of the navbar */
html {
  height: 100%;
}
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  >.container {
    padding: 70px 15px 20px;
  }
}
.footer {
  height: 60px;
  background-color: @background_color_1;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: @background_color_2;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
.not-set {
  color: @color_1;
  font-style: italic;
}
a.asc {
  &:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: @font_family_1;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
    content: "\e151";
  }
}
a.desc {
  &:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: @font_family_1;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
    content: "\e152";
  }
}
.sort-numerical {
  a.asc {
    &:after {
      content: "\e153";
    }
  }
  a.desc {
    &:after {
      content: "\e154";
    }
  }
}
.sort-ordinal {
  a.asc {
    &:after {
      content: "\e155";
    }
  }
  a.desc {
    &:after {
      content: "\e156";
    }
  }
}
.grid-view {
  th {
    white-space: nowrap;
  }
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: @color_2;
}
.error-summary {
  color: @color_3;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.nav {
  li {
    >form {
      >button.logout {
        padding: 15px;
        border: none;
      }
    }
  }
  >li {
    >form {
      >button.logout {
        &:focus {
          text-decoration: none;
          outline: none;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.row.search-field {
  margin-bottom: 20px;
  >form>div {
    width: 100%;
  }
  .input-group {
    width: 50%;
    margin: auto;
  }
}
.pre-tag-bg {
  background-color: @background_color_1;
}
.clear {
  clear: both;
}
@media (max-width:767px) {
  .nav {
    li {
      >form {
        >button.logout {
          display: block;
          text-align: left;
          width: 100%;
          padding: 10px 15px;
        }
      }
    }
  }
}
